<html>
<head></head>

<body>
	<h1><%= user.name %></h1>
	<ul>
		<li>User name : <%= user.username %></li>
		<li>Email : <%= user.email %></li>
		<li>Phone : <%= user.phone %></li>
	</ul>
	<a href="/">Home</a>
	<a href="/users">All Users</a>	
</body>